<h1>Hello</h1>

<% @blog_posts.each do |blog_post| %>
<div>
  <% if blog_post.draft? %>
  <div class="p-2 rounded bg-gray-900 text-gray-900">Draft</div>
  <% end %>
  <% if blog_post.schedule? %>
  <div class="p-2 rounded bg-gray-900 text-gray-900">Schedule</div>
  <% end %>
  <h2><%= link_to blog_post.title, blog_post_path(blog_post) %></h2>
  <p><%= blog_post.body %></p>
</div>
<% end %>
